.brand-bg {
  background: linear-gradient(to left, #1a474f, #3a7d89);
  color: white;
}

        body {

            background-color: #fdfdfd;
            color: #222;
            direction: var(--page-dir, rtl);

          
            /* text-align: center; */
        }
         .ncc {
        
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }

        .tags h2 {
            padding-bottom: 30px;
            margin-bottom: 20px;
            color: #ffffff;
            /* لون ابيضٍ */
        }

        .chips {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            /* توسيط الأزرار */
            gap: 10px;
        }

        .chips button,
        .chips input.btn {
            min-width: 100px;
            padding: 10px 20px;
            font-size: 1rem;
            border-radius: 20px;
            border: none;
            background-color: #0d6efd;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-align: center;
        }

        .chips button:hover,
        .chips input.btn:hover {
            background-color: #084298;
        }
  

        

/* أزرار الصفحات - الخلفية بيضاء والنص أسود */
.pagination .page-item .page-link {
    background-color: white;
    color: black;
    border: 1px solid #dee2e6; /* نفس إطار البوتستراب */
}

/* الصفحة النشطة - خلفية سوداء ونص أبيض */
.pagination .page-item.active .page-link {
    background-color: black;
    color: white;
    border-color: black;
}

/* عند المرور على أي زر - تأثير hover */
.pagination .page-item .page-link:hover {
    background-color: #f0f0f0;
    color: black;
}

/* أزرار معطلة Next/Previous */
.pagination .page-item.disabled .page-link {
    background-color: #f8f9fa;
    color: #6c757d;
    pointer-events: none;
}


